
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e1;
}

#merriam {
    font-family: Times New Roman;
    font-weight: 100;
    font-stretch: condensed;
    color: #105397;
}

#wordle {
    font-family: 'Kalam', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Serif', serif;
    color: black;
}

#boardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    padding-bottom: 40px;
}

#board .row {
    display: flex;
    grid-template-columns: repeat(5, auto);
    grid-gap: 5px;
    padding-bottom: 5px;
}

#board .row div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b7b8b9;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}


#keyboardContainer {
    display: flex;
    justify-content: center;
}

#keyboard .row {
    display: grid;
    grid-gap: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}

#keyboard .row:nth-child(1) {
    grid-template-columns: repeat(10, auto);
}
#keyboard .row:nth-child(2) {
    grid-template-columns: repeat(9, auto);
    padding-left: 10px;
    padding-right: 10px;
}
#keyboard .row:nth-child(3) {
    grid-template-columns: repeat(9, auto);
}

#keyboard .row div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px; 
    height: 45px;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 20px;
    background-color: #d3d6da;
    color: black;
    font-weight: bold;
}

#keyboard #backspace {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 45px;
    border-radius: 3px;
    font-size: 26px;
    background-color: #d3d6da;
    color: black;
    font-weight: 325;
}

#keyboard #enter {
    width: 45px;
    font-size: 11px;
}

.gray-tile {
    background-color: #787c7e !important;
    color: white !important;
    animation: tileFlip .5s ease;
}
.yellow-tile {
    background-color: #c9b458 !important;
    color: white !important;
    animation: tileFlip 1s ease;
}
.green-tile {
    background-color: #6aaa64 !important;
    color: white !important;
    animation: tileFlip 1.5s ease;
}

@keyframes tileFlip {
    0% {transform: scaleY(1);}
    50% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}

.gray-key {
    animation: keyFlipGray 1s forwards;
    animation-delay: .5s;
}
.yellow-key {
    animation: keyFlipYellow .5s forwards;
    animation-delay: 1s;
}
.green-key {
    animation: keyFlipGreen 0s forwards;
    animation-delay: 1.5s;
}

@keyframes keyFlipGray {
    from {background-color: #d3d6da; color: black;}
    to {background-color: #787c7e; color: white;}
}
@keyframes keyFlipYellow {
    from {background-color: #d3d6da; color: black;}
    to {background-color: #c9b458; color: white;}
}
@keyframes keyFlipGreen {
    from {background-color: #d3d6da; color: black;}
    to {background-color: #6aaa64; color: white;}
}